@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Poppins:wght@300;400&display=swap");

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'header header'
    'main aside';
    font-family: Poppins;
    gap: 0.5rem;
    
}

header {
    grid-area: header;
    background: #ccc;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

main {
    grid-area: main;
    padding-left: 1rem;
}

main .main_video img {
    max-width: 100%;

}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 1rem;
}

aside section {
    display: flex;
    gap: 1rem;
}

aside section .aside_video_img img {
    width: 200px;
}

aside section .aside_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside section .aside_text span {
    display: flex;
    flex-direction: column;
}
aside section .aside_text h2 {
    font-size: 1.2rem;
}

aside section .aside_text h3 {
    font-size: 0.8rem;
}

aside section .aside_text .aside_details small {
    font-size: 0.6rem;
}