@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Poppins:wght@300;400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    background-color: #aaa;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main #banner {
    background-image: url('../images/cat_pic.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main #banner h1 {
    font-size: 2.8rem;
}
main #banner p {
    font-size: 1.5rem;
}
main #banner div {
    padding: 0 4rem;
    color: #fff;
    width: 70%;

}

main #about {
    display: flex;
    
}

main #about .col1 {
    background: #ccc;
    padding: 4rem 2rem;
}
main #about .col2 {
    background: #eee;
    padding: 4rem 2rem;
}