@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-size: 100%;
}

body {
    font-size: 0.9rem;
}
header {
    padding: 1rem 0.5rem;
    text-align: center;
}

.logo {
    width: 150px;
}

main h1 {
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

form {
 background: #ef8798;
 padding: 1.2rem;
 border: none;
 width: 90%;
 margin: 01rem auto;
 border-radius: 15px;
 color: #fff;
}

form input[type="radio"], form input[type="checkbox"] {
   display: inline-block;
  margin: 0.5rem 0.2rem;
    vertical-align: middle;
}

form input#name, input#email {
    width: 50%;
    margin: 0.5rem 0;
    border: none;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    outline: none;

}

fieldset {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.8rem 0;
}

fieldset legend {
    padding: 0 0.5rem;
    font-weight: 500;
    font-size: 1.2rem;
}
fieldset label {
    margin-right: 1.6rem;
}


form button {
    border: none;
    padding: 0.2rem 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.2rem;
    font-weight: 500;
    border-radius: 5px;

}

form button[type="reset"] {
    background:#f9efa6;
    color: #222;
}

form button[type="submit"] {
    color: #ef8798;
   background: #fff;
}