@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(219, 219, 219);
}

h1 {
  padding: .5em 1em;
  background-color: white;
  color: grey;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 1em;
  gap: 2em;
}

.item {
  width: 29em;
  background-color: white;
  box-sizing: border-box;
  padding: 1.5em;
  /* margin-bottom: 1em; */
  border-radius: 5px;
  border: 1px solid lightgray;
}

.item img {
  width: 100%;
}

.item h2 {
  font-size: 1em;
  margin-bottom: .2em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.btn_dark {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

/* ------------------------------ Estilos para o tema escuro (Dark-Mode) ----------------------------------------------- */


.dark .btn_dark {
  background: #000;
  color: #fff;
}

body.dark
{
  background-color: rgb(39, 39, 39);
}

.dark h1, .dark .header
{ 
  background-color: rgb(19, 19, 19);
  color: rgb(170, 170, 170);
}

.dark .item
{
  background-color: rgb(19, 19, 19);
  border-color: black;
}

.dark p, .dark h2
{
  color: rgb(230, 230, 230);
}
