body {
    background:  rgb(243, 239, 223);
    color: #292828;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #292828;
}

h2, .job-title {
font-size: 20px
}

.job-title {
    background: #7a7a7a;
    color: #dfdfdf;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}

#high {
    color: #292828;;
}

ul {
    background: #7a7a7a;
    color: rgb(223,215,185);
    padding: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}